body{
    background-color: honeydew;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color:seagreen;
    color: white;
}

#navbar{
    background-color: steelblue;
    color: white;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url("#{resource['images/showcase.jpg']}");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: white;
    font-size: 50px;
    line-height: 1.6em;
    padding: 50px;
}

#conn{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.conn-form .form-group{
    float: left;
}

.conn-form label{
    display: block;
}

.conn-form input[type="text"]{
    background-color: seagreen;
    color: white;
    padding: 10px 10px;
    border: none;
}

.conn-form input[type="submit"]{
    background-color: seagreen;
    color: white;
    padding: 10px 10px;
    margin-top: 25px;
    border: none;
}

.conn-form input[type="reset"]{
    background-color: seagreen;
    color: white;
    padding: 10px 17px;
    margin-top: 25px;
    border: none;
}

#rgb{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.buttons input {
    float: left;
    width: 128px;
    height: 64px;
    opacity: 0.8;
    border: none;
}

.buttons .red {
    background-color: red;
}

.red:active {
    opacity: 1;
}

.buttons .green {
    background-color: green;
}

.green:active {
    opacity: 1;
}

.buttons .blue {
    background-color: blue;
}
   
.blue:active {
    opacity: 1;
}

.buttons .yellow {
    background-color: yellow;
}
   
.yellow:active {
    opacity: 1;
}

.buttons .magenta {
    background-color: magenta;
}
   
.magenta:active {
    opacity: 1;
}

.buttons .cyan {
    background-color: cyan;
}
   
.cyan:active {
    opacity: 1;
}

.buttons .white {
    background-color: white;
}
   
.white:active {
    opacity: 1;
}

.buttons .black {
    background-color: black;
}
   
.black:active {
    opacity: 1;
}

#msg{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#pwm{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

.slidecontainer{
    width: 100%;
}

.sliderA {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.sliderA:hover {
    opacity: 1;
}

.sliderA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: snow;
    cursor: pointer;
}

.sliderA::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: snow;
    cursor: pointer;
}

.sliderB {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.sliderB:hover {
    opacity: 1;
}

.sliderB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: lightgreen;
    cursor: pointer;
}

.sliderB::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: lightgreen;
    cursor: pointer;
}

.sliderC {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.sliderC:hover {
    opacity: 1;
}

.sliderC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: gold;
    cursor: pointer;
}

.sliderC::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: gold;
    cursor: pointer;
}

.sliderD {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.sliderD:hover {
    opacity: 1;
}

.sliderD::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: crimson;
    cursor: pointer;
}

.sliderD::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: crimson;
    cursor: pointer;
}

#sidebar{
    float: right;
    width: 30%;
    background: darkslategray;
    color: white;
    padding: 0 30px;
    margin: 25px 0;
    box-sizing: border-box;
}

#main-footer{
    background: seagreen;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

@media(max-width: 600px){
    #conn{
        width: 100%;
        float: none;
    }

    #rgb{
        width: 100%;
        float: none;
    }

    #msg{
        width: 100%;
        float: none;
    }

    #pwm{
        width: 100%;
        float: none;
    }
    
    #sidebar{
        width: 100%;
        float: none;
    }
}